PLATFORMS="linux/amd64,linux/arm/v7,linux/arm64"

### Builder image options

REPOSITORY="local"
IMAGE="seafile-builder"
TAG="noble"

### Build options

BUILDER="$REPOSITORY/$IMAGE:$TAG"
SEAFILE_SERVER_VERSION="11.0.13"